<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>关开思的搜索引擎</title>
    <style>
body {
  background-image: url("/static/456.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
  </head>
  <body>
  <br>
  <br><br><br><br><br>
    <div align="center"> <img src="/static/GSAI.png" style="width:500px;"></div>
  <br>
  <br>
    <div>
      <form action="query" method="get">
        <div style="text-align:center;">
          <input style="width: 500px;height:40px;" type="text" name="key" placeholder="输入您想查询的关键词...">
        </div>
        <br>
        <div style="text-align:center;">
          <button style="width:75px;height:40px;background-color:white" type="submit">Search</button>
        </div>
      </form>
    </div>
  </body>
</html>
