<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Result</title>
    <style>
body {
  background-image: url("/static/456.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
  </head>
  <body>
    <div>
      <p>Keys: {{ key }}</p>
      <br>
      <div>
        {% for res in results %}
          <p>
            <a href="{{ res['url'] }}">{{ res['title'] }}</a>
          </p>
          <p>
            {{ res['abstract'] }}
          </p>
          <br>
        {% endfor %}
      </div>
    </div>
  </body>
</html>
